.bg-nav {
    background-color: rgba(255, 255, 255, 0.02);
}
.bg-nav-scrolled {
    background-color: rgb(93, 93, 93);
    transition: background-color 0.5s ease;
}

.bd-animation {
    position: relative; /* Necessário para o posicionamento da borda */
    color: white;
    text-decoration: none;
}

.bd-animation::after {
    content: ""; /* Cria um elemento vazio para a borda */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* Inicia com largura 0 (invisível) */
    height: 2px; /* Espessura da borda */
    background-color: white; /* Cor da borda */
    transition: width 0.3s ease-in-out; /* Animação suave de expansão */
}

.bd-animation:hover::after {
    width: 100%; /* Expande a borda quando o mouse estiver sobre o link */
}


@media (max-width: 767px) {
    .section-four {
        width: 100%;
    }
    #section-one {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,1) 80%), url(../img/backgrounds/dumbell.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
    }
    div.div-transition-right {
        max-width: 100%;
        height: auto;
        transition: transform 1s ease, opacity 1s ease; /* Transição suave para transformações e opacidade */
        opacity: 0;
        transform:translateX(0.5rem); /* Elemento começa fora da tela */
    }
    
    div.div-transition-bottom {
        max-width: 100%;
        height: auto;
        transition: transform 1s ease, opacity 1s ease; /* Transição suave para transformações e opacidade */
        opacity: 0;
        transform: translateX(-1em); /* Elemento começa fora da tela */
    }
    
    div.div-transition-left {
        max-width: 100%;
        height: auto;
        transition: transform 1s ease, opacity 1s ease; /* Transição suave para transformações e opacidade */
        opacity: 0;
        transform: translateX(0.5em); /* Elemento começa fora da tela */
    }
    
    div.finish {
        opacity: 1;
        transform: translateX(0); /* Elemento volta para a posição original */
    }
}

@media only screen and (min-width: 768px) and (max-width: 1367px){
    .section-four {
        width: 100%;
    }
    #section-one {
        background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,1) 80%), url(../img/backgrounds/dumbell.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    div.div-transition-right {
        max-width: 100%;
        height: auto;
        transition: transform 0.7s ease, opacity 0.7s ease; /* Transição suave para transformações e opacidade */
        opacity: 0;
        transform: translateX(5em); /* Elemento começa fora da tela */
    }
    
    div.div-transition-bottom {
        max-width: 100%;
        height: auto;
        transition: transform 0.7s ease, opacity 0.7s ease; /* Transição suave para transformações e opacidade */
        opacity: 0;
        transform: translateY(5em); /* Elemento começa fora da tela */
    }
    
    div.div-transition-left {
        max-width: 100%;
        height: auto;
        transition: transform 0.7s ease, opacity 0.7s ease; /* Transição suave para transformações e opacidade */
        opacity: 0;
        transform: translateX(-5em); /* Elemento começa fora da tela */
    }
    
    div.finish {
        opacity: 1;
        transform: translateX(0); /* Elemento volta para a posição original */
    }
}

@media (min-width: 1367px) {
    #section-one {
        background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,1) 80%), url(../img/backgrounds/dumbell.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: fixed;
    }
    #section-one h1 {
        font-size: 620%;
    }    
    .section-four {
        width: 75%;
    }
    div.div-transition-right {
        max-width: 100%;
        height: auto;
        transition: transform 0.7s ease, opacity 0.7s ease; /* Transição suave para transformações e opacidade */
        opacity: 0;
        transform: translateX(10em); /* Elemento começa fora da tela */
    }
    
    div.div-transition-bottom {
        max-width: 100%;
        height: auto;
        transition: transform 0.7s ease, opacity 0.7s ease; /* Transição suave para transformações e opacidade */
        opacity: 0;
        transform: translateY(10em); /* Elemento começa fora da tela */
    }
    
    div.div-transition-left {
        max-width: 100%;
        height: auto;
        transition: transform 0.7s ease, opacity 0.7s ease; /* Transição suave para transformações e opacidade */
        opacity: 0;
        transform: translateX(-10em); /* Elemento começa fora da tela */
    }
    
    div.finish {
        opacity: 1;
        transform: translateX(0); /* Elemento volta para a posição original */
    }
    
}





img {
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transição suave para transformações e opacidade */
}

img[data-src] {
    opacity: 0;
    transform: translateX(-20em); /* Imagem começa fora da tela (esquerda) */
}

img[src] {
    opacity: 1;
    transform: translateX(0); /* Imagem volta para a posição original */
}



img.b[data-src] {
    opacity: 0;
    transform: translateX(20em); /* Imagem começa fora da tela (esquerda) */
}

img.b[src] {
    opacity: 1;
    transform: translateX(0);  /*Imagem volta para a posição original */
}










.image-container {
    position: relative;
  }
  
.image-container::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.8) 100%);
z-index: 1;
}

.image-container img {
width: 100%;
height: auto;
display: block;
z-index: 0;
}


.box-animate {
    transition: background-color 0.3s ease, transform 0.3s ease;
}
  
.box-animate:hover {
    background-color: #0056b3; 
    transform: scale(1.05);  
}

.btn-animate {
    background-color: #ffffff; 
    transition: background-color 0.3s ease, transform 0.3s ease;
} 

.btn-animate:hover {
    background-color: #0056b3; 
    transform: scale(1.05);  
}

.no-decoration {
    text-decoration: none;
}

.section-two {
    margin-top: -5%;
}

.bg-main {
    background-image: linear-gradient(to bottom, rgb(136, 224, 231,0.5), rgb(10, 8, 72));
}

#section-four {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/backgrounds/garrafa.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
